<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <!--displayes in browser tab-->
        <title>Create Profile - Sensoteq Operations</title>

        <!--link to css file-->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    </head>

    <body>
        <h1>SENSOTEQ OPERATIONS</h1>

        <ul>
            <li>
                <a href="#">Sign In</a>
            </li>
        </ul>

        <!--display flashed messages-->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


    </body>
</html>